@import "assets-scss/variables";

*{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0px;
    line-height: 30px;
}

h1, h2, h3{
    font-weight: 700;
}

ul{
    padding: 0;
}

body{
    background-color: $lightGray;
}

.card{
    max-width: 300px;
    margin: 20px auto;
    box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    &__header{
        background-color: #fff;
        padding: 20px;
        
    border-radius: 10px 10px 0px 0px;
        &__title{
            color: $primaryBlue;
            margin-bottom: 20px;
        }
        .title--yellow{
            color: $primaryYellow;
        }
        &__text{
            color: $GrayishBlue ;
        }

    }

    .card__flex-container{
        
        &__subscription{
            background-color: $secondaryBlue;
            color: $lightGray;
            padding: 20px;
            &__title{
                margin-bottom: 20px;
            }
            &__price-box{
                display: flex;
                margin-bottom: 5px;
    
                &__price{
                    font-size: 30px;
                    font-weight: 700;
                    margin-right: 10px;
                }
                &__sub{
                    color: rgb(209, 209, 209);
                }
            }
            &__text{
                margin-bottom: 20px;
            }
            &__btn{
                background-color: $primaryYellow;
                border-style: none;
                width: 100%;
                padding: 10px;
                color: $lightGray;
                font-weight: 700;
                cursor: pointer;
                border-radius: 10px;
                margin-bottom: 10px;
            }
        }
        &__why-us{
            background-color: $primaryBlue;
            border-radius: 0px 0px 10px 10px;
            padding: 20px;
            color: $lightGray;
            &__title{
                margin-bottom: 20px;
            }
            &__list{
                list-style: none;
            }
        }
    
    }

    
    
}

@media screen and (min-width: 1000px) {
    h1,h2,h3{
        font-size: 22px;
    }
    .card {
      min-width: 700px;
      &__header{
          padding: 50px;
      }
      &__flex-container{
          display: flex;
          justify-content: space-between;
          &__subscription{
              width: 100%;
              padding: 50px !important;
              border-radius: 0px 0px 0px 10px !important;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-around;
              &__btn:hover{
                background-color: #aac91f;
              }
          }
          &__why-us{
              width: 100%;
              padding: 50px !important;
              border-radius: 0px 0px 10px !important;
          }
      }
    }
  }