* {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  margin: 0px;
  line-height: 30px;
}

h1, h2, h3 {
  font-weight: 700;
}

ul {
  padding: 0;
}

body {
  background-color: #e5eff5;
}

.card {
  max-width: 300px;
  margin: 20px auto;
  box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.233);
  border-radius: 10px;
}
.card__header {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
}
.card__header__title {
  color: #2ab2af;
  margin-bottom: 20px;
}
.card__header .title--yellow {
  color: #c0df34;
}
.card__header__text {
  color: #98a6bd;
}
.card .card__flex-container__subscription {
  background-color: #13a3a1;
  color: #e5eff5;
  padding: 20px;
}
.card .card__flex-container__subscription__title {
  margin-bottom: 20px;
}
.card .card__flex-container__subscription__price-box {
  display: flex;
  margin-bottom: 5px;
}
.card .card__flex-container__subscription__price-box__price {
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}
.card .card__flex-container__subscription__price-box__sub {
  color: #d1d1d1;
}
.card .card__flex-container__subscription__text {
  margin-bottom: 20px;
}
.card .card__flex-container__subscription__btn {
  background-color: #c0df34;
  border-style: none;
  width: 100%;
  padding: 10px;
  color: #e5eff5;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card .card__flex-container__why-us {
  background-color: #2ab2af;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  color: #e5eff5;
}
.card .card__flex-container__why-us__title {
  margin-bottom: 20px;
}
.card .card__flex-container__why-us__list {
  list-style: none;
}

@media screen and (min-width: 1000px) {
  h1, h2, h3 {
    font-size: 22px;
  }

  .card {
    min-width: 700px;
  }
  .card__header {
    padding: 50px;
  }
  .card__flex-container {
    display: flex;
    justify-content: space-between;
  }
  .card__flex-container__subscription {
    width: 100%;
    padding: 50px !important;
    border-radius: 0px 0px 0px 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .card__flex-container__subscription__btn:hover {
    background-color: #aac91f;
  }
  .card__flex-container__why-us {
    width: 100%;
    padding: 50px !important;
    border-radius: 0px 0px 10px !important;
  }
}

/*# sourceMappingURL=style.css.map */
